.App {
    padding-bottom: 10vh;
}

.filter_section {
    background-color: #0e6cc8;
    padding: 1.5rem;
    font-size: 1.3rem;
}

.f__furniture_name {
    display: block;
    font-weight: bold;
    color: white;
    background: none;
    width: 100%;
    border: none;
    padding: 0.78571429em 0.15em;
    margin: 1rem 0;
    border-bottom: 0.1rem solid #cccccc;
}

.f__furniture_name::placeholder {
    color: white;
    font-size: 1.3rem;
}

.f__furniture_style_form {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-right: 1rem;
    margin-bottom: 1rem;

    input {
        margin: 0;
        width: 100%;
        flex: 1 0 auto;
        outline: 0;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        text-align: left;
        line-height: 1.21428571em;
        font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
        padding: 0.67857143em 1em;
        background: #ffffff;
        border: 1px solid rgba(34, 36, 38, 0.15);
        color: rgba(0, 0, 0, 0.87);
        // border-radius: 0.28571429rem;
        transition: box-shadow 0.1s ease, border-color 0.1s ease;
        box-shadow: none;
    }

    input:checked {
        background-color: #009688;
    }

    ul {
        position: absolute;
        list-style: none;
        width: 100%;
        padding: 0 0.7rem;
        margin: 0;
        display: none;
        background-color: #ffffff;
        box-shadow: 0 0.25rem 0.31rem 0.1rem #cecece;
        z-index: 1;

        li {
            display: flex;
            justify-content: space-between;

            label {
                cursor: pointer;
                padding: 1rem 0;
            }

            div {
                margin: 1rem;
            }

            .ui.fitted.checkbox {
                label:before {
                    width: 2rem;
                    height: 2rem;
                    border: 0.16rem solid #cecece !important;
                    background-color: #ffffff !important;
                }
            }

            .ui.checked.fitted.checkbox {
                label:before {
                    width: 2rem;
                    height: 2rem;
                    border: 0.4rem solid #009688 !important;
                    background-color: #009688 !important;
                }

                label:after {
                    font-size: 1.2rem;
                    padding-top: 0.25rem;
                    padding-left: 0.385rem;
                    color: #ffffff !important;
                }

                @media only screen and (min-width: 600px) {
                    label:after {
                        padding-left: 0.45rem;
                    }
                }
            }
        }
    }

    ul:hover {
        display: block;
    }
}

.f__furniture_style_form input:focus + ul {
    display: block;
}

.f__furniture_dt {
    display: inline-block;
    width: 100%;
}

.empty__result {
    margin: 1.5rem;
}

@media only screen and (min-width: 600px) {
    .f__furniture_name {
        width: 47.5vw;
    }
    .f__furniture_style_form {
        width: 47.5vw;
    }
    .f__furniture_dt {
        width: 47.5vw;
    }
}
